<!--削除　削除画面: codeの値を設定。削除処理を行なわずに一覧画面へ戻るリンクを追加-->
<!--「一覧に戻る」リンクを追加　URLは「/country/list-->
<!--★パスパラメーターのcodeの値が設定されるようにコンロトーラーを修正-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Tutorial of JPA</title>
</head>
<body>
    <h1>Country 削除</h1>
    <p>削除する国のコードを指定してください。</p>
    <form method="post" action="/country/delete">
        <input type="text" name="code" th:value="${code}">
        <button type="submit">送信</button>
		<!--@GetMapping("/list")記述済-->

		<!--削除画面: codeの値を設定。削除処理を行なわずに一覧画面へ戻るリンクを追加-->
    </form>
</body>
</html>

